<h1 id="thank">Hurray ! </h1>
<h3 id="th">Your File was Submitted Successfully</h3>
<p id="thp">After Evaluation the necessary action and reply will be sent</p>
<p id="check">Check Out Our works & Projects below</p>
